.label-input-container {
    display: flex;
    align-items: center;
}

.label-input-container label {
    margin-right: 8px;
    font-weight: bold;
}

.label-input-container input {
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    width: auto;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px; 
  }
  
  .form-group label {
    margin-right: 10px; 
    font-weight: bold; 
  }
  
